<%- include("header") -%>
<h2>This is The about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore reprehenderit tempore consequuntur reiciendis, voluptatibus harum voluptas repellat ex porro quaerat unde eaque, eligendi autem alias at! Amet itaque mollitia ipsam voluptatem excepturi ex perspiciatis repudiandae?</p>
<%- include("footer") -%>